body {
  background-color: #242527;
  font-size: 12px;
  margin: 0px;
}
a {
  color: #5381d4;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: #478dff;
  margin: 25px;
}

input {
  color: white;
  background-color: #121212;
  border: solid 1px #2a2b2d;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
}
input[type="date"] {
  color: white;
}
a {
  text-decoration: none;
}
.continer {
  margin: auto;
  width: 95%;
  overflow: hidden;
  display: grid;
  justify-content: center;
}

.box-1 {
  background-color: #121212;
  padding: 10px 16px;
  margin-bottom: 1px;
  width: 410px;
  height: 70px;
  border-radius: 10px 10px 0px 0px;
}

.box-1 h1 {
  font-size: 30px;
  color: #eafcff;
  text-align: center;
  margin: 8px;
}

.box-1 p {
  color: #9ca3ad;
  text-align: center;
  font-size: 16px;
  margin: 1px;
}

.box-2 {
  background-color: #121212;
  padding: 16px;
  margin-top: 1px;
  width: 410px;
  height: 90%;
  border-radius: 0px 0px 10px 10px;
}

.box-2 label,
option,
p {
  color: #9ca3ad;
}

#page {
  padding-left: 3%;
  margin: 1%;
}

.box-2 input[id="fname"],
[id="sname"] {
  width: 40%;
  margin-right: 10px;
  justify-content: center;
}

.box-2 input[id="email"],
[id="password"],
[id="age"] {
  width: 90%;
}

.gender {
  display: inline-flex;
  box-sizing: border-box;
}

#gender {
  border: 1px solid #242527;
  border-radius: 3px;
  padding-right: 10%;
  width: 118px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.gender input {
  position: relative;
  right: 5%;
}

.box-2 button {
  font-size: 20px;
  font-weight: bold;
  width: 194px;
  height: 35px;
  text-align: center;
  background-color: #00a400;
  color: #ffffff;
  border: none;
  padding: 1.5%;
  border-radius: 10px;
}
.box-2 a[id="sign"] {
  font-size: 20px;
  padding-bottom: 20px;
}
/*@media (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
  }
}*/
